application/databases/PageCarton/Cron/Run/table.xml
application/databases/Workplace/Authenticate/table.xml
application/databases/Workplace/Screenshot/table.xml
application/databases/Ayoola/Extension/Import/table.xml
application/databases/Application/notification.xml
application/databases/Ayoola/Access/localuser.xml
application/databases/Ayoola/Object/dbase.xml
application/databases/Ayoola/Object/widget.xml
application/databases/PageCarton/Cron/Run/table.xml
application/databases/Workplace/Authenticate/table.xml
application/databases/Workplace/Keylog/table.xml
application/databases/Application/__/
application/databases/workspace.xml
application/databases/Application/Log/
application/databases/Workplace/workspace.xml
application/databases/Application/Article/
application/databases/Application/Profile/
application/databases/Ayoola/Doc/
application/module_files/
