body
{
    padding-bottom: 300px;
}
.btn
{
    padding: 0 !important;
    font-size: 12px !important;
    margin-bottom: 0.5em;
}
.wk_title a, .box-css a, .box-css-table a, a.box-css-table, a.box-css
{
    color: orange;
    text-decoration:none;
}
.wk_title h2, .wk_title p
{
    font-size:12px;
}

.box-css a:hover, .wk_title a:hover, a.box-css:hover
{
    color: white;
    text-decoration:none;

}
.section-divider
{
    padding: 1em;
    color: #333;
    text-align:center;
    background: #fff;
    font-size: smaller;
}
.btn-default
{
    color: black !important;
    background: white !important;
}
.wk_title
{
    max-height: 50vh;
    overflow: auto;
    position: fixed;
    bottom: 2%;
    padding: 2em;
    background: rgba( 100, 100, 100, 0.3 );
    color: #fff;
    border-radius: 1em;
    
}
.wk-space
{
    margin-bottom: 10em;;
}
.wk-screenshot
{
    padding: 1em;
    height: 50vh;
}
#Workplace_Workspace_Broadcast_Creator_form_id input[type=submit]
{
    padding: 0.5em;
    font-size: x-small;
    margin: 0.5em;
    float: right;
    font-size: x-small;
    box-shadow: inset 0px 1px 0px 0px #eee;
    background-color: #ccc;
    border: 1px solid #ddd;
}
#Workplace_Workspace_Broadcast_Creator_form_id textarea
{
    margin:0;
}
#Workplace_Workspace_Broadcast_Creator_form_id
{
    padding: 0;
}
.box-css, .small-box-css, .chat-box-css, .box-css-table, .box-css-wk-50
{
    padding:2em; 
    background-color:#333; 
    color:white; 
    flex-basis:25%; 
    text-align: center; 
    font-size:x-small;
    border: 0.5px solid #666;
    overflow: auto;
}
.box-css i
{
    font-size: 12px;
}

.box-mg
{
    margin: 20px 0;
}


.wk-50, .box-css-wk-50
{
    width: 50%;
    flex-basis:50%; 

}
.chat-box-css
{
    flex-basis:25%;
    font-size:small;
    height:50vh;
    display: flex;
    flex-direction: column;
    text-align:unset;  
    overflow:auto;
    padding:0;
}
.box-css-x3
{
    flex-basis:33.333%;
}
@media only screen and (max-width: 900px) {
    .chat-box-75, .chat-box-css, .small-box-css
    {
        flex-basis: 50%;
    }    
    .wk-50, .box-css-wk-50
    {
        width: 100%;
    }
    body
    {
        padding-bottom: 600px;
    }

}

@media only screen and (max-width: 600px) {
    .chat-box-75, .box-css, .chat-box-css
    {
        flex-basis: 100%;
    }
    .small-box-css
    {
        flex-basis: 50%;
    }
    .hide-mb
    {
        display: none;
    }
}
